<style>
    body {
        color: white;
        margin: 0;
        padding: 0;
        background: url('img/bg.jpg');
        background-size: 2000px 1100px;
        height: 900px;
        font-family: 'Balsamiq Sans', cursive;
    }

    .left {
        /* border: 3px solid rgb(239, 10, 10); */
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 30px;

    }

    .mid {
        /* border: 3px solid rgb(33, 25, 172); */
        width: 36%;
        margin: 40px auto;
        display: block;

    }

    .right {
        /* border: 3px solid rgb(25, 177, 116); */
        position: absolute;
        display: inline-block;
        top: 20px;
        right: 30px;
    }

    .navbar li {
        display: inline-block;
        font-size: 20px;

    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 25px 10px;
    }

    .navbar li a:hover {
        text-decoration: underline;
        color: rgb(66, 69, 69);
    }

    .left img {
        width: 53px;
        padding: 2px;
        margin-left: 80px;
    }

    .left div {
        text-align: center;
        line-height: 20px;
        font-size: 25px;
    }

    .btn {
        margin: 10px 10px;
        background-color: black;
        color: white;
        padding: 5px 15px;
        border: 2px solid grey;
        cursor: pointer;
        border-radius: 7px;
        font-size: 20px;
        font-family: 'Balsamiq Sans', cursive;
    }

    .btn:hover {
        background-color: grey;

    }

    .container {
        border: 2px solid rgb(233, 240, 240);
        margin: 120px 110px;
        padding: 91px;
        border-radius: 28px;
        width: 33%;

    }

    .form-group input {
        text-align: center;
        display: block;
        width: 250px;
        padding: 6px;
        border: 3px solid black;
        margin: 5px auto;
        font-size: 20px;
        border-radius: 10px;
    }

    .container h1 {
        text-align: center;
    }

    .container button {
        display: block;
        width: 42%;
        margin: 15px auto;

    }
</style>
